{% load static %}
{% load markup %}
{% load i18n %}

<a
    class="catalog-item js-thread"
    href="{% url 'thread_page' board_hid=thread.board.hid thread_hid=thread.hid %}"
    data-id="{{ thread.id }}"
>
    <div class="catalog-item__header">
        <span class="catalog-item__hid hid js-thread-hid" data-id="{{ thread.id }}">{{ thread.hid2hex }}</span>

        <span class="spacer"></span>

        <span class="catalog-item__icons">
            <span
                class="catalog-item__icon icon is-hidden js-user-thread-icon"
                title="{% trans "My thread" %}"
                data-id="{{ op_post.id }}"
            >
                person_outline
            </span>

            {% if thread.is_sticky %}
                <i class="catalog-item__icon icon" title="{% trans "Sticky" %}">publish_top</i>
            {% endif %}

            {% if thread.is_locked %}
                <i class="catalog-item__icon icon" title="{% trans "Locked" %}">lock</i>
            {% endif %}
        </span>
    </div>

    <div class="catalog-item__body">
        {% with image=op_post.images.all|first  %}
            {% if image %}
                <img
                    class="catalog-item__image"
                    src="{{image.thumb_file.url}}"
                    alt="{{ image.original_name }}"
                    width="{{ image.thumb_width }}"
                    height="{{ image.thumb_height }}"
                    loading="lazy"
                />
            {% endif %}
        {% endwith %}

        {% if op_post.text or op_post.title %}
            <div class="catalog-item__text">
                <span class="catalog-item__title">
                    {{ op_post.title }}
                </span>
                {% markup text=op_post.text post=op_post make_refs=False make_links=False %}
            </div>
        {% endif %}
    </div>

{#    TODO: do we really need this #}
{#    <div class="catalog-item__info">#}
{#        <div class="catalog-item__info-line">#}
{#            <span class="catalog-item__info-icon icon">chat_bubble_outline</span>#}
{#            {{ thread.posts_count }}#}
{#        </div>#}
{#        <div class="catalog-item__info-line">#}
{#            <span class="catalog-item__info-icon icon">update</span>#}
{#            {{ op_post.created_at|date:"DATETIME_FORMAT" }}#}
{#        </div>#}
{#    </div>#}
</a>
