{% load i18n %}
{% load settings_value %}


<div class="footer">
    <div class="footer__inner">
        {% if board_pages %}
            <div class="footer__paginator">
                <span class="footer__paginator-label">
                    {% trans "Pages" %}:
                </span>
                {% for num in board_pages.paginator.page_range %}
                    {% if num != board_pages.number %}
                        <a
                            class="footer__page button button--squared"
                            href="{% url 'board_page_num' board_hid=board.hid page_num=num %}"
                        >{{ num }}</a>
                    {% else %}
                        <span class="footer__page button button--squared button--active">{{ num }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="footer__credits">
            <span class="footer__copyright">
                © {% settings_value 'SITE_NAME' %}, {% now 'Y' %}
            </span>

            <span class="spacer"></span>

            <span class="footer__email-block is-hidden js-email-block">
                {% trans 'Site administrator' %}:
                <a
                    class="footer__email js-email-address"
                    data-foo="foofoofoo"
                    data-uuu="{{ admin_email_user }}"
                    data-bar="barbarbar"
                    data-hhh="{{ admin_email_host }}"
                    data-baz="bazbazbaz"
                ></a>
            </span>
        </div>
    </div>
</div>
