{% load markup %}
{% load i18n %}


<div class="post {% if post.is_op %}post--op{% endif %} js-post" id="{{ post.hid2hex }}" data-id="{{ post.id }}" data-hid="{{ post.hid2hex }}">
    <div class="post__header">
        {# HID #}
        <a
            class="post__hid hid js-reply-button"
            data-id="{{ post.id }}"
            href="{% if post.is_op %}{{ thread.get_absolute_url }}{% else %}{{ post.get_absolute_url }}{% endif %}"
            title="{% trans "Reply" %}"
        >
            {{ post.hid2hex }}
        </a>

        {# Author #}
        <span
            class="post__author {% if post.created_by %}post__author--admin{% endif %}"
            {% if post.created_by %}
                title="{% trans "Administrator" %}"
            {% endif %}
        >
            {% if post.created_by %}
                 {{ post.created_by }}
            {% elif post.author %}
                 {{ post.author }}
            {% else %}
                {{ board.default_username }}
            {% endif %}
        </span>

        {# Created at #}
        <span class="post__date">
            {{ post.created_at|date:config.DATE_TIME_FORMAT }}
        </span>

        <div class="spacer"></div>

        {# Buttons and icons #}
        {% if not is_popup %}
            <span class="post__icons-and-buttons">
                {% if post.is_op %}
                    <span
                        class="post__icon icon is-hidden js-user-thread-icon"
                        title="{% trans "My thread" %}"
                        data-id="{{ post.id }}"
                    >
                        person_outline
                    </span>

                    {% if thread.is_sticky %}
                        <span class="post__icon icon" title="{% trans "Sticky" %}">
                            publish_top
                        </span>
                    {% endif %}

                    {% if thread.is_locked %}
                        <span class="post__icon icon" title="{% trans "Locked" %}">
                            lock
                        </span>
                    {% endif %}

{#                    <button#}
{#                        class="post__button post__button--toggle icon js-favorite"#}
{#                        data-id="{{ thread.id }}" data-hid="{{ thread.hid2hex }}" title="{% trans "Favorite" %}"#}
{#                    >#}
{#                        star_outline#}
{#                    </button>#}
{##}
{#                    <button#}
{#                        class="post__button post__button--toggle icon js-expand"#}
{#                        data-id="{{ thread.id }}" data-hid="{{ thread.hid2hex }}" title="{% trans "Expand thread" %}"#}
{#                    >#}
{#                        unfold_more#}
{#                    </button>#}

                    <button
                        class="post__button post__button--toggle icon js-toggle-thread"
                        data-id="{{ thread.id }}" data-hid="{{ thread.hid2hex }}" title="{% trans "Hide thread" %}"
                    >
                        close
                    </button>

                    {% if request.user.is_superuser %}
                        <a
                            class="post__button post__button--admin"
                            href="{% url 'admin:imageboard_thread_change' object_id=thread.id %}"
                            title="{% trans "Open admin panel" %}"
                        >T</a>
                    {% endif %}
                {% else %}
                    <span
                        class="post__icon icon is-hidden js-user-post-icon"
                        title="{% trans "My post" %}"
                        data-id="{{ post.id }}"
                    >
                        person_outline
                    </span>

                    {% if request.user.is_superuser %}
                        <a
                            class="post__button post__button--admin"
                            href="{% url 'admin:imageboard_post_change' object_id=post.id %}"
                            title="{% trans "Open admin panel" %}"
                        >P</a>
                    {% endif %}
                {% endif %}
            </span>
        {% endif %}
    </div>


    <div class="post__body {% if post.images.count == 1 %}post__body--flexible{% endif %}">
        {% if post.images.count > 0 %}
            <div class="post__images {% if post.images.count > 1 %}post__images--multiple{% endif %}">
                {% for image in post.images.all %}
                    <a
                        class="post__image-wrap js-lightbox-link"
                        href="{{image.file.url}}"
                        target="_blank"
                        data-lightbox="{{ post.id }}"
                        data-alt="{{ image.original_name }}"
                        data-title="{{ image.original_name }} :: {{ image.width }}x{{ image.height }} :: {{ image.size|filesizeformat }}"
                    >
                        <img
                            class="post__image"
                            src="{{image.thumb_file.url}}"
                            alt="{{ image.original_name }}"
                            width="{{ image.thumb_width }}"
                            height="{{ image.thumb_height }}"
                            title="{{ image.original_name }} :: {{ image.width }}x{{ image.height }} :: {{ image.size|filesizeformat }}"
                            loading="lazy"
                        />
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if post.text or post.title %}
            <div class="post__text js-post-text">
                {% if post.title %}
                    <div class="post__title">{{ post.title }}</div>
                {% endif %}

                {% markup text=post.text post=post %}
            </div>
        {% endif %}
    </div>

    <div class="post__footer">
        {% if post.replies %}
            <div class="post__footer-item post__replies">
                {% trans "Replies" %}:
                {% for reply in post.replies %}
                    <a
                        class="post__reply js-ref"
                        href="{{ reply.get_absolute_url }}"
                    >&gt;&gt;{{ reply.hid2hex }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if post.user_was_banned %}
            <div class="post__footer-item post__admin-message">{% trans "User was banned" %}</div>
        {% endif %}

        {% if post.user_was_warned %}
            <div class="post__footer-item post__admin-message">{% trans "User was warned" %}</div>
        {% endif %}
    </div>
</div>
