{% load markdown %}
{% load i18n %}


<form id="posting-form" action="{% url 'posting_view' %}" method="post" class="posting-form is-hidden js-posting-form" enctype="multipart/form-data">
    <div class="posting-form__inner">
        <div class="posting-form__header js-posting-form-header">
            <span class="posting-form__title">
                {% if form_type == 'new_thread' %}
                    {% trans "Create a new thread" %}
                {% elif form_type == 'new_post' %}
                    {% trans "Reply to the thread" %}
                    {% if thread %}
                        {{ thread.hid2hex }}
                    {% endif %}
                {% endif %}
            </span>

            <div class="spacer"></div>

            <button
                    class="posting-form__close-button button button--icon js-posting-form-close"
                    title="{% trans "Close form" %}"
                    type="button"
            >
                close
            </button>
        </div>

        <div class="posting-form__fields">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="posting-form__field" data-type="{{ field.name }}">
                    {% if field.erros %}
                        <div class="posting-form__field-errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

            <div class="posting-form__field">
                <button type="submit" class="posting-form__submit button">
                    {% trans "Submit" %}
                </button>
            </div>
        </div>
    </div>
</form>
