# Editors
.idea

# Python cache
__pycache__

# Storage
/storage

# Dependencies
/node_modules
/python_modules

# Frontend builds
hexchan.js
hexchan.js.map
style.css
style.css.map

# Locales
django.mo
