@import 'styles/variables';
@import 'styles/mixins';

@import 'styles/material-icons';

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font: 16px 'Open Sans', sans-serif;
    height: 100%;
}

body {
    background: @page-bg url('/static/imageboard/images/page-bg.png') repeat
        fixed;
    color: @main-color;
    position: relative;
    padding: 0;
    margin: 0;
    min-width: @base-width;
    height: 100%;
}

a {
    color: @accent-color;
}

.hid {
    display: inline-flex;
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    height: 1.5rem;
    //line-height: calc(1.5rem - 2px);
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: inherit;

    &:hover {
        color: @accent-color;
    }
}

@import 'styles/app-header-footer';

.threads {
    &__thread-separator {
    }
}

.thread {
    margin: 2rem 0;

    &--hidden {
        display: none;
    }

    &--deleted {
        color: @dimmed-color;
    }

    &__hid {
    }

    &__op-separator,
    &__post-separator {
        display: none;
    }

    &__deleted-label {
        padding: 0 2rem;
    }
}

@import 'styles/post';

@import 'styles/catalog';

@import 'styles/posting-form';

.paginator {
}

.placeholder-item {
    padding: calc(0.5rem - 1px) 0.5rem 0.5rem;
    border-top: 1px solid #fff;
    color: @grey-color-600;
    background: @grey-color-200;
    border-radius: 0.25rem;
    box-shadow: @shadow-elevation-2;

    &--thread {
        margin: 2rem 0;
    }

    &__deleted-label {
    }

    &__hid {
        margin-right: 0.5rem;
    }

    &__text {
        margin-right: 0.5rem;
    }

    &__unhide-link {
        border-bottom: 1px dotted;
        cursor: pointer;
    }
}

.board-header {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    background: @grey-color-500;
    color: @grey-color-100;
    border-radius: @block-border-radius;
    display: block;
    text-decoration: none;
    box-shadow: @block-shadow;

    &__title {
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 0.5rem;
    }

    &__description {
    }
}

.lockdown {
    margin: 1rem 0;
    padding: 1rem;
    background: @main-bg;
    color: @main-color;
    border-radius: @block-border-radius;
    border: @error-block-border;
    box-shadow: @block-shadow;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.error-page {
    width: @base-width;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: @block-border-radius;
    background: @main-bg;
    color: @main-color;
    border: @error-block-border;
    box-shadow: @block-shadow;

    &__header {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    &__code {
        font-size: 2rem;
        font-weight: bold;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: normal;
    }

    &__reason {
    }
}

.spoiler {
    cursor: pointer;
    background: @main-color;
    transition: background 0.3s ease;

    &:hover {
        background: transparent;
    }
}

.captcha-widget {
    display: flex;
    //margin-right: 1rem;
    align-items: flex-start;
    //padding-right: 128px;
    position: relative;

    &__image {
        width: 128px;
        height: 32px;
        //.rectr(0, -5px, 128px, 32px);
        display: block;
        color: transparent;
        cursor: pointer;
    }

    &__input {
        width: auto !important;
        margin-right: 1rem;
    }
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ref-popup {
    width: @base-width;
    position: absolute;
    box-shadow: 0 0 0 1px @main-color, 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: @block-border-radius;
    //box-shadow: @block-shadow;
}

.textarea-wrapper {
    flex: 1 0 0;
}

.board-block {
    //margin: 3rem 0;
    margin-bottom: 2rem;
}

@import 'styles/lightbox';

.spacer {
    flex: 1 1 auto;
}

.is-hidden {
    display: none;
}

.button {
    .darkest-color-bg();
    display: inline-block;
    line-height: 2rem;
    padding: 0 1rem;
    border: 0;
    cursor: pointer;
    border-radius: @input-border-radius;
    box-shadow: @shadow-elevation-1;
    font-size: inherit;
    font-family: inherit;

    &:hover {
        background: @accent-color;
    }

    &--icon {
        padding: 0;
        font-size: @large-icon-size;
        font-family: 'Material Icons';
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
    }
}

.images-widget {
    display: flex;
    align-items: center;

    &__input {
        display: none;
    }

    &__add-button {
        height: 2rem;
        line-height: 2rem;
        font-weight: normal !important;
        margin-right: 0.5rem;

        &--error {
            background: @error-color;
        }
    }

    &__previews {
        display: flex;
    }

    &__preview {
        background-repeat: no-repeat;
        background-size: cover;
        background-color: @grey-color-300;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
        box-shadow: @shadow-elevation-1;
    }
}

@import 'styles/mobile-hacks';
