{% extends 'imageboard/base.html' %}
{% load static %}
{% load i18n %}
{% load settings_value %}


{% block page_title %}
    {% settings_value 'SITE_NAME' %} :: {{ board.name }}
{% endblock %}


{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}


{% block content %}
    {% include 'imageboard/parts/board_header.html' %}

    {% if board.is_locked %}
        {% include 'imageboard/parts/lockdown.html' with type='board' %}
    {% else %}
{#        <div class="new-thread-block">#}
{#            <button class="button js-new-thread-button">{% trans "Create a new thread" %}</button>#}
{#        </div>#}
        {% include 'imageboard/parts/posting_form.html' with form_type='new_thread' %}
    {% endif %}

    <div class="threads">
        {% for thread in threads %}
            {% include 'imageboard/parts/thread.html' with posts=thread.latest_posts %}

            {% if not forloop.last %}
                <div class="threads__thread-separator"></div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="popup-container js-popup-container"></div>
{% endblock %}


{% block footer %}
    {% include 'imageboard/parts/footer.html' with board_pages=threads %}
{% endblock %}


{% block page_style %}
    <style>{{ board.custom_style }}</style>
{% endblock %}
