{% extends 'imageboard/base.html' %}
{% load static %}
{% load i18n %}
{% load markdown %}


{% block page_title %}
    {{ config.SITE_NAME }}
{% endblock %}

{% block page_description %}{% endblock %}

{% block page_keywords %}{% endblock %}


{% block content %}
    {% if index_page_text %}
        <div class="index-page-text">
            {{ index_page_text.text|markdown|safe }}
        </div>
    {% endif %}

    {% for board in boards %}
        {% if not board.is_hidden and not board.is_deleted %}
            <div class="board-block">
                {% include 'imageboard/parts/board_header.html' %}

                <div class="catalog">
                    <div class="catalog__items">
                        {% for thread in board.threads.all %}
                            {% include 'imageboard/parts/catalog_item.html' with op_post=thread.op %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block page_style %}{% endblock %}
