{% extends "imageboard/base.html" %}
{% load static %}
{% load i18n %}
{% load settings_value %}


{% block page_title %}
    {% settings_value 'SITE_NAME' %} :: {{ board.name }} {% if thread.op.title %}::{% endif %} {{ thread.op.title }}
{% endblock %}

{% block page_description %}{{ board.description }}{% endblock %}

{% block page_keywords %}{{ board.keywords }}{% endblock %}


{% block content %}
    {% include 'imageboard/parts/board_header.html' with page_type='thread_page' %}

    {% if board.is_locked %}
        {% include 'imageboard/parts/lockdown.html' with type='board' %}
    {% elif thread.is_locked %}
        {% include 'imageboard/parts/lockdown.html' with type='thread' %}
    {% else %}
        {% include 'imageboard/parts/posting_form.html' with form_type='new_post' %}
    {% endif %}

    {% include 'imageboard/parts/thread.html' with page_type='thread_page' %}

    <div class="popup-container js-popup-container"></div>
{% endblock %}


{% block page_style %}
    <style>{{ board.custom_style }}</style>
{% endblock %}
